var Publish = {
	{{#center}}
	center: {lat: {{center.lat}}, long: {{center.long}} },
	{{/center}}
	zoom: {{zoom}},
	minZoom: {{minZoom}},
	maxZoom: {{maxZoom}},
	mapTypeId: "{{base}}",
	legend: "{{legend}}",
	path: function(project){
		var data =  "./data/";
		if(project)
			data += project += "/";
		return data
	},
	data: {
 	{{#projects}}
		{{project}}: {{#quotes}}{{layer}}{{/quotes}},
	{{/projects}}
	}
};