var Publish = {
	center: {lat: {{center.lat}}, long: {{center.long}} },
	zoom: {{zoom}},
	minZoom: {{minZoom}},
	maxZoom: {{maxZoom}},
	mapTypeId: "{{base}}",
	path: (function(){
		var data = "./data/";
		var url = "{{path}}";
		if(url)
			return data + url + "/";
		return data;
	}()),
	data: {
		{{#layers}}
		{{.}}: [{{#quotes}}{{select}}{{/quotes}}, { {{#color}}{{key}}: {{#quotes}}{{rgba}}{{/quotes}},{{/color}} }],
		{{/layers}}
	}
};