var Publish = {
	center: {lat: {{center.lat}}, long: {{center.long}}},
	zoom: {{zoom}},
	minZoom: {{minZoom}},
	maxZoom: {{maxZoom}},
	mapTypeId: "{{base}}",
	color: "Reds",
	data: {
		cells: {
			river: [0, 1, 2]
		}
	}
};